.text{
    font-family: "Crimson Text", serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url("img/background.jpeg");
}
#title{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
#titleText{
    font-weight: 400;
    font-size: 36px;
}
#logoImg{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.logo{
    border-radius: 100%;
    border-width: 3px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
#welcome{
    font-weight: 200;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
#content{
    width: 70%;
    height: 100px;
    margin-left: 15%;
    margin-top: 2rem;
}
#list{
    background-color: white;
    margin-bottom: 0.7rem;
}
.textInList{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    font-weight: 400;
}
#footer{
    font-weight: 800;
    font-size: 13px;
    position: fixed;
    left: 1rem;
    bottom: 0;
}
#Capa_1{
    margin-left: 3px;
    margin-right: 3px;
}